<h1>"Put your names in to prepare for Battle!!!"</h1>
<form action="/names" method="post">
  <div>
    <label for="Player 1"> </label>
    Player 1 name: <input type="text" name="name_1">
  </div>
  <div>
    <label for="Player 2"> </label>
    Player 2 name: <input type="text" name="name_2">
  </div>
  <div>
    <input type="submit" value="PREEEPPPPARREEE FOR BATTTLLLEEE">
  </div>
