<div>
  <%= "#{@player_1_name} " %> <p> HP: <%= "#{@player_1_hp}" %> </p>
</div>
<div>
  <%= "#{@player_2_name}" %>  <p> HP: <%= "#{@player_2_hp}" %> </p>
  <form action="/attack" method="get">
    <button type="submit" value="attack player 2">
    <h2> Spit rhymes </h2>
    </button>
  </form>
</div>
